<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DnDatabase</title>
    <style>
        *{
            background-color: gray;
        }

        footer {
            position: absolute;
            bottom: 0;
            text-align: center;
        }
    </style>
</head>
