<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/main_head.ejs') %>
<body>
    
    <h1>Vytvoř si svá pravidla</h1>
    <a href="javascript:history.back()">Zpět</a><hr>

    <form action="/campaign/rules/create" method="POST">
        <label for="text">Text</label>
        <input type="textarea" id="text" name="text" required>
        <button>Odeslat</button>
    </form>

</body>
</html>