<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/main_head.ejs') %>
<body>
    
    <h1>Přidej mapu svého světa</h1>
    <a href="javascript:history.back()">Zpět</a><hr>

    <form action="/world/maps/add" method="POST" enctype="multipart/form-data">
        <input type="text" name="user" id="user" value="<%= userID %>" style="display: none;">
        <label for="name">Název mapy</label>
        <input type="text" id="name" name="name">
        <label for="map">mapa</label>
        <input type="file" id="map" name="map">
        <button>Odeslat</button>
    </form>

</body>
</html>