<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/main_head.ejs') %>
<body>
    
    <h1>Vytvoř si novou kampaň</h1>

    <form action="/character/create" method="POST">
        <label for="name">Jméno postavy</label>
        <input type="text" id="name" name="name">
        <label for="class">Třída</label>
        <input type="text" id="class" name="class">
        <label for="race">Rasa</label>
        <input type="text" id="race" name="race">
        <button>Odeslat</button>
    </form>

</body>
</html>