<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/main_head.ejs') %>
<body>
    
    <h1>Vytvoř si novou kampaň</h1>

    <form action="/world/create" method="POST">
        <label for="name">Název světa</label>
        <input type="text" id="name" name="name">
        <button>Odeslat</button>
    </form>

</body>
</html>