<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/main_head.ejs') %>
<body>
    
    <h1>Přidej město</h1>
    <a href="javascript:history.back()">Zpět</a><hr>

    <form action="/world/maps/town/add" method="POST">
        <label for="name">Název města</label>
        <input type="text" id="name" name="name">
        <label for="location">Poloha</label>
        <input type="text" id="location" name="location">
        <label for="description">Popis</label>
        <input type="textarea" id="description" name="description">
        <button>Odeslat</button>
    </form>

</body>
</html>