<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/main_head.ejs') %>
<body>
    
    <h1>Vytvoř si novou kampaň</h1>
    <a href="javascript:history.back()">Zpět</a><hr>

    <form action="/character/create" method="POST">
        <label for="name">Jméno postavy</label>
        <input type="text" id="name" name="name"><br>
        <label for="class">Třída</label>
        <input type="text" id="class" name="class"><br>
        <label for="race">Rasa</label>
        <input type="text" id="race" name="race"><br>
        <label for="str">Síla</label>
        <input type="number" id="str" name="str"><br>
        <label for="dex">Obratnost</label>
        <input type="number" id="dex" name="dex"><br>
        <label for="int">Inteligence</label>
        <input type="number" id="int" name="int"><br>
        <label for="cha">Charisma</label>
        <input type="number" id="cha" name="cha"><br>
        <label for="con">Postřeh</label>
        <input type="number" id="con" name="con"><br>
        <label for="wis">Moudrost</label>
        <input type="number" id="wis" name="wis"><br>
        <button>Odeslat</button>
    </form>

</body>
</html>