<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/main_head.ejs') %>
<body>
    <h1>Detaily světa <%= worldName %></h1>
    <a href="/home">Domů</a>


    <h3>Bestiář - todo</h3>
    <h3>Herbář - todo</h3>
    <h3>NPCs - todo</h3>
    <h3>Mapy - todo</h3>

</body>
</html>